/* body {
  background-color: "blue";
}

button {
  background-color: "red";
}

.tile {

  display: inline-block;
  margin: 20px;
}

.tileImage {

  height: 250px;
  width: 430px;
}

.linkText {

  position: absolute;
  margin-top: -44px;
  background-color: white;
  padding: 10px;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;

}
.navlink {
  margin: 10px;
  padding: 10px;
  display: inline-block;
}

.header {

  background-color: lightblue
}*/
/* .clickable-color {
  background-color: darkorchid;
} */

.header-title {
  text-align: center;
  font-size: 50px;
} 

.infoButton {
  width: 200px;
  display:inline-block;
}

.tileDiv {

  display: inline-block;
  margin: 10px;
  /* padding: 100px; */
  /* margin: -77px; */
}

 .tileImage {

  height: 250px;
  width: 400px;
  padding: 23px;
  
}


/* .navLink {

  display: inline-block;
  margin: 10px;
} */

.linkText {

  position: absolute;
  margin-top: -75px;
  background-color: white;
  padding: 10px;
  text-align: center;
  margin-left: 26px;
  margin-right: 2px;
  width: 374px;
  color: purple;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  font-weight: bold;
}

.justify-center {
  justify-content: center;
}



#selector {
    width:100%;
    height:100%;
}

h1 {
	font-family: Anton;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  line-height: 26.4px;
  padding-top: 400px;
}

h2 {
  font-family: "Merriweather";
	font-size: 8px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  line-height: 26.4px;
  padding-top: 400px;
}