.navlink {
  margin: 10px;
  padding: 10px;
  display: inline-block;
}

.header-title {
  text-align: center;
  font-size: 50px;
}

.searchbar {
  margin-top: 1.5%;
}


.justify-center {
  justify-content: center;
}


.title {
  font-size: 300px;
  margin-top: 5%;
}

.subtitle {
  padding-top: 2%;
  margin-bottom: 5%;
  opacity: 0.8;
}

#register-header {
  padding-top: 30px;
}

#reg-input {
  margin-left: 5%;
  margin-right: 15%;
}

#submit-auth {
  margin: 0 auto;
  text-align: center;
  margin-top: 4%;
}

#form-title {
  padding-top: 4%;
}

#form-input {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 3%;
}

.label {
  /* margin-left: 50%; */
}

#page-title {
  padding-top: 2%;
  padding-bottom: 2%;
}


#paras {
  margin-top: 3%;
}

.post-title {
  padding-top: 6%;
  font-weight: bold;
}

.post-para {
  padding-top: 2%;
  padding-bottom: 3%;
  max-width: 45%;
}

.post-button {
  margin-bottom: 6%;
  margin-right: 1%;
}

#post{
  margin-left: 5%
}

.comment {
  margin-top: 1%;
  padding-bottom: 1%;
}

.story {
  text-align: center;
  padding-top: 2%;
}

.resources {
  /* margin-top: 21%; */
  /* margin-bottom: 8%; */
  width: 90%;
}

/* .has-background-info {
  line-height: 1.5;
  color: white;
} */

.card-image img {
  height: 240px;
}

.card {
  border: 2px solid #679dc1;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;

}

/* Add a hover effect if you want*/
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa::before {
  display: inline-block;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/*
.is-pulled-left {
  font-size: 2em;
} */

.bannerWidth {
  width:710px;
  margin-right: 20%;
  margin-left: 20%;
}

.hero-is-light{
  background-color:  #3590ce;
}

.marginCircles {
  margin-top: 60px;
}

.footer {
  margin-top: 10%;
}

.hero-body {
  padding:1rem;
  margin-top: -3rem;
  height:265px;
}
footer {
  margin-top: 50px;
}