body {
  background-color: "blue";
}

button {
  background-color: "red";
}

.tile {

  display: inline-block;
  margin: 20px;
}

.tileImage {

  height: 250px;
  width: 430px;
}

.linkText {

  position: absolute;
  margin-top: -44px;
  background-color: white;
  padding: 10px;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;

}
.navlink {
  margin: 10px;
  padding: 10px;
  display: inline-block;
}

.header {

  background-color: lightblue
}

.header-title {
  text-align: center;
  font-size: 50px;
}